.container {
  padding: 0 2.5rem;
}

/* @media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 1.5rem;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 2rem;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 2.5rem;
  }
} */
