/* Fonts */
@import "./fonts/fonts.css";

/* Base Styles */
@import "./styles/base.css";

/* Common Styles */
@import "./styles/common.css";

/* Tailwind CSS */
@import "./styles/tailwind.css";

/* Transitions */
@import "./styles/transitions.css";
